body{
    background-color: whitesmoke;
    color: rgb(0,0,0); 
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.4s;
    user-select: none;
    -moz-user-select: none;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    user-select: none;
  }

  .overlay-content button{
    background-color: transparent;
    border: 1px solid whitesmoke;
    text-align: center;
    border: none;
    color: #818181;
    transition: 0.3s;
    font-size: 40px;
  }
  .overlay-content button:hover{
    color: #f1f1f1;
    cursor: pointer;
    }

  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    user-select: none;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  .top {
    position: static;
    text-align: center;
  }
  .top h1{
    width: auto;
    font-size: 5rem;
    text-transform: capitalize;
    animation: easeIn 1s ease-in;
  }
  .top h2{
    color: #818181;
    text-transform: uppercase;
    width: auto;
    font-size: 1rem;
    animation: easeIn1 2s ease-in;
    margin-top: -5vh;
}  @keyframes easeIn1 {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
      }
    to {
      opacity: 1;
    }
  }
@keyframes easeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main{
    width: 100%;
    height: 100%;
    text-align: center;
}
.main .aggiungi{
    padding: 10%;
    width: auto;
    border: 2px solid;
    user-select: none;
    -moz-user-select: none;
}
.aggiungi input,h2{
    font-size: 2.2h;
}
#spann{
    position: block;
    font-size:50px;
    cursor:pointer;
   margin-left: 30px;
  }
  
  @media screen and (max-height: 769px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    #spann{
      position: block;
    }
  }